* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
.displayFlex {
  display: flex;
}
.textAlignCenter {
  text-align: center;
}

.flexColumn {
  flex-direction: column;
}
.alignJustifyCenter {
  align-items: center;
  justify-content: center;
}
body {
  background-color: #f1f3f6;
}
.container {
  gap: 2rem;
}
/* Product page css  */
#shopHeader {
  text-align: center;
  background-color: #333;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#shopHeader a {
  color: white;
  text-decoration: none;
}
#shopHeader nav {
  display: flex;
  gap: 1rem;
}
#shopHeading {
  color: white;
}
#mainAsideCont {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
}
#shopAside {
  position: relative;
  width: 25%;
  background-color: white;
  padding: 1em;
}
#shopAside > div {
  position: sticky;
  top: 1rem;
}
#shopMain {
  width: 75%;
  background-color: white;
  padding: 1em;
}
#categHead {
  cursor: pointer;
  padding: 0.3em 0;
}
.categCont {
  display: flex;
  width: fit-content;
  align-items: flex-start;
  gap: 0.1em;
}
.categCont input,
.categCont label {
  cursor: pointer;
}
#categFilterCont {
  display: none;
  gap: 0.3em;
  padding: 0.2em;
}
.active {
  display: flex !important;
  flex-direction: column;
}
#cardsContainer {
  flex-wrap: wrap;
  gap: 1rem;
}
.productCard {
  min-width: 10rem;
  max-width: 14rem;
  flex: 1 100% 1;
  border: 2px solid gray;
  padding: 0.3em;
  border-radius: 0.5rem;
}
.productCard > * {
  margin: 0.2em;
}
.productImgCont {
  width: 100%;
  height: 12rem;
  overflow: hidden;
}
.productImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productName {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.2em 0;
}
.productDesc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: small;
  line-height: 1.2em;
  height: calc(1.2em * 2);
  max-height: calc(1.2em * 2);
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  /* white-space: nowrap; */
}
.ratingCont {
  background-color: green;
  width: fit-content;
  color: white;
  padding: 0.1em;
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ratingCont div {
  padding: 0.2em;
  font-size: 0.7rem;
  color: white;
}
.ratingCont div i {
  color: white;
  font-size: 0.6rem;
  transform: translateY(-10%);
}
.productPriceCont {
  gap: 0.5em;
  align-items: center;
}
.sellingPrice {
  font-weight: bold;
}
.mrp {
  text-decoration: line-through;
  color: gray;
  font-size: smaller;
}
.discount {
  color: green;
  font-size: smaller;
}
.addToCartBtn {
  background-color: #333;
  border: 2px solid gray;
  color: white;
  padding: 0.4em;
  border-radius: 0.2em;
}
.addToCartBtn i {
  color: white;
}
