* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

.displayFlex {
  display: flex;
}
.textAlignCenter {
  text-align: center;
}

.flexColumn {
  flex-direction: column;
}
.alignJustifyCenter {
  align-items: center;
  justify-content: center;
}
.container {
  padding: 2rem 1em;
  gap: 2rem;
}

.horizontalList {
  list-style: none;
  padding: 0px;
  display: flex;
  gap: 1rem;
}
.btn {
  padding: 1rem 1rem;
}

/* header section  */

/* navigation bar */
#landPageNavbar {
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navLiItems a {
  text-decoration: none;
  color: white;
}

/* hero section  */
#heroSec {
  background-color: tomato;
  padding: 2rem;
}

#heroSecBtn {
  padding: 0.3rem 1.2rem;
}

/* category section  */
.cardContainer {
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
#categorySec,
#productSec {
  background-color: lightgray;
}
.indivisulCard {
  padding: 0.5rem 0.5rem;
  border-radius: 0.5em;
  background-color: white;
}
/* featured product section  */
.priceCont {
  color: #ff9481;
}

/* customer testimonial section  */
#testimonySec {
  background-color: #323232;
}
.customerCard {
  background-color: #414141;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 30%;
  gap: 1em;
}
#custTestimonyHead,
.customerComment {
  color: white;
}
#testimonySec .customerName {
  color: #f35d45;
}
#testimonySec .customerComment {
  font-style: italic;
}

/* login form  */
#outermostCont {
  height: 100vh;
  background-color: lightgray;
}
#loginFormMainCont {
  padding: 1rem;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0.2em 0.2em 0.5em black;
}

#signInFormCont form,
#signUpFormCont form {
  gap: 1rem;
}
.loginRadioBtn {
  background-color: lightgray;
  padding: 0.8rem 1rem;
  margin: 1rem;
  color: orangered;
  cursor: pointer;
}
#signIn,
#signUp {
  margin: 2rem 0rem;
}

#signInFormCont,
#signUpFormCont {
  display: none;
  margin: 1rem;
}

/* Show the appropriate form based on the radio button selection */
#signIn:checked ~ #signInFormCont {
  display: flex;
}
#signUp:checked ~ #signUpFormCont {
  display: flex;
}

#signInFormCont input:not([type="button"]),
#signUpFormCont input:not([type="button"]) {
  width: 100%;
  padding: 0.3rem;
}
#signInFormCont input[type="button"],
#signUpFormCont input[type="button"] {
  padding: 0.8rem 1rem;
  background-color: #323232;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.altLoginOption {
  padding: 1rem;
}
